#container {
    display: flex;
    flex-direction: row; 
    width: 480px;
    height: 480px;
    border: solid orange;
    background: white;
}

h1 {
    font-size: 62px;
    font-family: pulang, sans-serif;
}

.newColor {
    background-color: rgb(8, 6, 6);
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    background-color:indigo;
    justify-content: space-evenly;

}

#reset {
    height: 40px;
    width: 95px;
    background-color: orange;
    font-size: 24px;
}